<h1>Add an Album</h1>
<div>
  <form  action="<%= albums_url %>" method="post">
    <div>
      <label for="album_name">Album Name</label>
      <input type="text" id="album_name" name="albums[name]">

      <input type="submit" value="Create Album">
    </div>

    <br><br>

    <div>
      <label for="album_band">Band</label>
      <select name ="albums[band_id]" id="album_band">
        <option></option>
        <% Band.all.each do |band| %>
          <option value="<%= band.id %>">
            <%= band.name %>
          </option>
        <% end %>
      </select>


    </div>
  </form>
</div>
