<h1>Create New Band</h1>

  <form  action="<%= bands_url %>" method="post">
    <label for="band_name">Band Name</label>
    <input type="text" id="band_name" name="bands[name]">

    <input type="submit" value="Create Band">
  </form>
